html, body, #root {
    height: 100%;
    margin: 0;
    background-color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

button, a:hover {
    cursor: pointer;
}

#root {}

.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: lightskyblue;
    font-size: 25px;
    margin: 0;
}

h2 {
    color: gold;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin: 0;
}

h3 {
    color: white;
    font-size: 18px;
    margin: 0;
}

p {
    color: dimgray;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}