.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282727;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12px;
}

.about p {
    color: #ababab;
}