.land-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 200px;
    margin: 4px;
    background-color: white;
    border-radius: 10px;
}

.attractions-list {
    display: flex;
    flex-direction: column;
}